.app {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    height: 100px;
    background: #AB2A19;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shelfie-logo {
    margin-left: 40px;
}

.dash-container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.dash-text {
    margin-left: 20px;
}

.product {
    display: flex;
    height: 150px;
    width: 450px;
    background: #D34735;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.form-container {
    margin: 50px;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3AD886;
    border-radius: 10px;
    padding: 20px;
}

.button-container {
    margin: 10px;
    display: flex;
}

img {
    border-radius: 10px;
}

.delete {
    background: #3AD886;
}

.edit {
    background: #3AD886;
}

button {
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 20px;
    background: #D34735;
}